.App {
  text-align: center;
  font-size: small;
  color: rgb(26, 26, 186);
}

.question-card {
  margin: 0 auto;

  width: 80%; 
  height: auto;

  background-color: rgb(242, 20, 20);
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(7, 7, 185, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: rgb(56, 4, 138);
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
}

.question-text {
  color: rgb(250, 250, 252);
  font-size: 24px;
}

.final-results {
  margin: 0 auto;

  
  width: 50%; 
  height: auto;
  margin-top: 64px;

  
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}